<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'index' %}">BRAND</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"><a class="nav-link" href="{% url 'app_four:other' %}">Other<span class="sr-only">(current)</span></a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">Admin</a></li>
    </ul>
</nav>
</div>


<div class="container">
  {% block body_block %}
  <!-- Anything outside of this will be inherited if you extend! -->
  {% endblock %}
</div>

  </body>
</html>
